.root{
    background: #282c34;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.wrapper{
    max-width: 1024px;
    width: 100%;
    background: #ffffff;
    padding: 24px;
    border-radius: 24px;
}